[Unit]
Description=Social Network app Attachment

[Service]
WorkingDirectory=/root/SocialNetwork.WebApi.Attachment.Builded/SocialNetwork/SocialNetwork.WebApi.Attachment/bin/Release/netcoreapp3.0
ExecStart=/usr/bin/dotnet /root/SocialNetwork.WebApi.Attachment.Builded/SocialNetwork/SocialNetwork.WebApi.Attachment/bin/Release/netcoreapp3.0/SocialNetwork.WebApi.Attachment.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=SocialNetwork-Attachment
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
