.green-text {
    width: fit-content;
    color: var(--markdown-green-text-color);
    font-style: italic;
}


a.link-to {
    width: fit-content;
    color: var(--markdown-link-to-text-color) !important;
    text-decoration: none;

    &:hover {
        color: var(--markdown-link-to-text-hover-color) !important;
        cursor: pointer;
    }
}

.spoiler {
    width: fit-content;
    color: var(--markdown-spoiler-text-color);
    background-color: var(--markdown-spoiler-background-color);

    &:hover {
        color: inherit;
        background-color: inherit;
    }
}