name: WebUI build and deploy

on: 
  push:
    branches: 
      - master
    paths:
      - 'SocialNetwork.WebUI/**'

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.5.0
      uses: actions/setup-node@v1
      with:
        node-version: 12.5.0
    
    - name: ls
      working-directory: ./SocialNetwork.WebUI
      run: ls
      
    - name: install dependencies
      working-directory: ./SocialNetwork.WebUI
      run: npm install  
      
    - name: build 
      working-directory: ./SocialNetwork.WebUI
      run: npm run build
    - name: Notify when builded success
      if: success()
      uses: appleboy/telegram-action@master
      with:
        to: "-373392644"
        token: "914543704:AAGxCfEN279RPLCAFsFTsQR2ava6P13c5ZE"
        message: |
          ${{ github.workflow }} by ${{ github.actor }}
          ✅ Success!
    - name: Notify when builded failure
      if: failure()
      uses: appleboy/telegram-action@master
      with:
        to: "-373392644"
        token: "914543704:AAGxCfEN279RPLCAFsFTsQR2ava6P13c5ZE"
        message: |
          ${{ github.workflow }} by ${{ github.actor }}
          ❌ Failure!
    - name: ls
      working-directory: ./SocialNetwork.WebUI/dist/
      run: ls
    
    - uses: actions/upload-artifact@v1
      with:
        name: my-artifact
        path: SocialNetwork.WebUI/dist
